<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RaspDev"
            id="raspdev.commands.category">
      </category>
      <command
            name="Emulation"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand">
      </command>
      <command
            name="Deploy"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="raspdev.commands.sampleCommand"
            class="raspdev.handlers.SampleHandlerEmu">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand2"
            class="raspdev.handlers.SampleHandlerDep">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="raspdev.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="RaspDev"
               mnemonic="M"
               id="raspdev.menus.sampleMenu">
            <command
                  commandId="raspdev.commands.sampleCommand"
                  mnemonic="S"
                  id="raspdev.menus.sampleCommand">
            </command>
            <command
                  commandId="raspdev.commands.sampleCommand2"
                  mnemonic="D"
                  id="raspdev.menus.sampleCommand2">
            </command>
         </menu>
      </menuContribution>
     
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
    <category
            name="RaspDev"
            id="raspdev.wizards.category">
      </category>
  <wizard
     id = "raspdev.wizards.wiz1"
     name = "RaspProject"
     class = "raspdev.wizards.RaspWizard"
     category = "raspdev.wizards.category">
         
         </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="raspnavigator"
            name="RaspView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="raspnavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="raspnavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            name="RaspDev"
            icon="icons/full/cview16/resource_persp.png"
            class="org.eclipse.ui.internal.ResourcePerspective"
            id="org.eclipse.ui.resourcePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension 
	targetID="org.eclipse.ui.resourcePerspective">
	<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
    	<view id="org.eclipse.jdt.debug.ui.DisplayView" 
        	relative="org.eclipse.debug.ui.ExpressionView" 
    		relationship="stack"/>	
        <view id="org.eclipse.jdt.ui.PackageExplorer" 
                relative="org.eclipse.debug.ui.DebugView" 
                relationship="stack"
                visible="false"/>
        <view id="org.eclipse.jdt.ui.TypeHierarchy" 
                relative="org.eclipse.debug.ui.DebugView" 
                relationship="stack"
                visible="false"/>
        <view id="org.eclipse.search.SearchResultView" 
                relative="org.eclipse.debug.ui.ConsoleView" 
                relationship="stack"
                visible="false"/> 
    	<viewShortcut id="org.eclipse.jdt.debug.ui.DisplayView"/>
  </perspectiveExtension> 
   </extension>
   <extension
         id="raspdev.RasProj"
         point="org.eclipse.core.resources.natures">
          <runtime>
           <run class="raspdev.natures.ProjectNature"/> 
       </runtime> 
       <one-of-nature id="raspdev.nature.dir"/>
       <options allowLinking="false"/>
   </extension>

</plugin>
