<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RaspDev"
            id="raspdev.commands.category">
      </category>
      <command
            name="VirtualDeviceManager"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand">
      </command>
      <command
            name="Deploy"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand2">
      </command>
      <command
            name="Create Target"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand3">
      </command>
       <command
            name="sdk"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand4">
      </command>
       <command
            name="Select RaspdevSDK"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand5">
      </command>
       <command
            name="ModifyConfig"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand6">
      </command>
       <command
            name="Generate ssh key"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand7">
      </command>
       <command
            name="Generate setup.py"
            categoryId="raspdev.commands.category"
            id="raspdev.commands.sampleCommand8">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="raspdev.commands.sampleCommand"
            class="raspdev.handlers.ExecuteVirtual">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand2"
            class="raspdev.handlers.ExecuteDeploy">
      </handler>
       <handler
            commandId="raspdev.commands.sampleCommand3"
            class="raspdev.handlers.CreateTarget">
      </handler>
       <handler
            commandId="raspdev.commands.sampleCommand4"
            class="raspdev.handlers.ExecuteSDK">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand5"
            class="raspdev.handlers.ExecuteRaspConf">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand6"
            class="raspdev.handlers.ModifyConfig">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand7"
            class="raspdev.handlers.ExecuteKey">
      </handler>
      <handler
            commandId="raspdev.commands.sampleCommand8"
            class="raspdev.handlers.ExecuteSetup">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="RaspDev"
               id="raspdev.menus.sampleMenu">

            <command
                  commandId="raspdev.commands.sampleCommand3"
                  id="raspdev.menus.sampleCommand3">
            </command>
             <command
                  commandId="raspdev.commands.sampleCommand7"
                  id="raspdev.menus.sampleCommand7">
            </command>
             <command
                  commandId="raspdev.commands.sampleCommand8"
                  id="raspdev.menus.sampleCommand8">
            </command>
             <command
                  commandId="raspdev.commands.sampleCommand5"
                  id="raspdev.menus.sampleCommand5">
            </command>
             <command
                  commandId="raspdev.commands.sampleCommand6"
                  id="raspdev.menus.sampleCommand6"
                  label="Modify Configtxt"
                  style="push">
            </command>
           
            
            <command
                  commandId="raspdev.commands.sampleCommand2"
                  id="raspdev.menus.sampleCommand2">
            </command>
         </menu>
      </menuContribution>
     
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
    <category
            name="RaspDev"
            id="raspdev.wizards.category">
      </category>
  <wizard
     id = "raspdev.wizards.wiz1"
     name = "RaspProject"
     class = "raspdev.wizards.RaspWizard"
     category = "raspdev.wizards.category">
         
         </wizard>
   </extension>
  
  
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            name="RaspDev"
            icon="icons/full/cview16/resource_persp.png"
            class="org.eclipse.ui.internal.ResourcePerspective"
            id="org.eclipse.ui.resourcePerspective">
      </perspective>
   </extension>
  
   <extension
         id="raspdev.natures.raspNature"
         point="org.eclipse.core.resources.natures">
          <runtime>
           <run class="raspdev.natures.ProjectNature"/> 
       </runtime> 
       <options allowLinking="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.example.commands.toolbar.changeSetOperations"
               label="ChangeSet Operations">
            <command
                  commandId="raspdev.commands.sampleCommand"
                  icon="icons/rasp.gif"
                  style="push">
            </command>
            <command
                  commandId="raspdev.commands.sampleCommand4"
                  icon="icons/razzy.gif"
                  style="push">
            </command>
            </toolbar>
          </menuContribution>
   </extension>
  
</plugin>
